[Unit]
Description=linux-monitor-go-service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/root/linux-monitor-go-service/
ExecStart=/root/linux-monitor-go-service/main -release=true -dbmhFlag=127.0.0.1 -dbmnFlag=monitoring -dbmuFlag=root -dbmpFlag=1
[Install]
WantedBy=multi-user.target